@charset "UTF-8";

@media screen and (max-width: 750px) {
    body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(58, 57, 57);
    color: white;
}
div#header {
    margin: auto;
    width: 300px;
}
h1 {
    width: 200px;
    margin-top: 30px;
    font-family: cursive;
    font-size: 1.5em;

}


div#task-add {
    display: flex;
    gap: 20px;
    justify-content: center;

    
}

input#text {
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(243, 132, 58);
    border: none;
    border-radius: 10px;
    outline: none;
}

button#add {
    border-radius: 5px;
    width: 70px;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgb(240, 159, 38);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

button#add:hover {
    opacity: 80%;
    background-color: rgb(250, 160, 24);
    margin-top: -5px;

}

div#task-list {
    width: 350px;
    margin: auto;
    margin-top: 40px;
    padding: 0px;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;

    font-size: 0.8em;
    color: rgb(247, 145, 29);
    font-weight: bold;
    font-style: italic;
}


p {
    width: 300px;
    flex-wrap: wrap;
    overflow-wrap: break-word
}

button.completButton {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(1, 189, 48);
    font-weight: bold;
    color: white;
    font-style: italic;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    margin-left: 10px;
    cursor: pointer;
    font-size: 0.7em;
}

button.delet {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(240, 38, 38);
    font-weight: bold;
    color: white;
    font-style: italic;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    margin-left: 10px;
    cursor: pointer;
    font-size: 0.7em;
}

button.edit {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(240, 159, 38);
    font-weight: bold;
    color: white;
    font-style: italic;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    margin-left: 10px;
    cursor: pointer;
    font-size: 0.7em;
}

.complet {
    color: grey;
    text-decoration: line-through;
}
}